{{{rollHTML}}}
<div class="healRollData">
    <h2>You Heal {{roll}} {{pool}} points</h2>
</div>
<div>
    <a class="destinyDie-btn" data-formula="{{formula}}" data-actor-id="{{actor}}" data-pool="{{pool}}" data-type="healRoll">Roll Destiny Die</a>
</div>