<div class="chat_roll">
    <div>{{roll_type}} Roll</div>
    {{{rollHTML}}}
    {{#if (isCharacter actor)}}
        {{#if (rollNotCritical roll)}}
            <div class="chat-pools">
                <a class="chat-addition-btn" data-pool="arcane" data-actor-id="{{actor}}" data-roll="{{roll}}">Add Arcane</a>
                <a class="chat-addition-btn" data-pool="physical" data-actor-id="{{actor}}" data-roll="{{roll}}">Add Physical</a>
                <a class="chat-addition-btn" data-pool="mental" data-actor-id="{{actor}}" data-roll="{{roll}}">Add Mental</a>
            </div>
        {{/if}}
        {{#if (hasDestinyDie destinyDice)}}
            <a class="destinyDie-btn" data-actor-id="{{actor}}" data-pool="{{pool}}" data-formula="{{formula}}" data-roll-type="{{roll_type}}">Use Destiny Die</a>
        {{/if}}
    {{/if}}
</div>