<div class="rollPage">
    <div class="rollcontainers">
        <label>Is this a Critical?</label>
        <input class="hasCrit" type="checkbox" name="crit" {{checked crit}}>
    </div>
    <div class="rollcontainers">
        <label>Do you need to add power die?</label>
        <input class="hasPowerDie" type="checkbox" name="powerDie" {{checked powerDie}}>
    </div>
    <a class="rollDmg rollBtn" data-actor-id="{{actor._id}}" data-formula="{{formula}}" data-pool="{{pool}}" data-crit="{{crit}}" data-powerDie="{{powerDie}}" data-weapon="{{weaponType}}">Roll</a>
</div>